@tailwind base;
@tailwind components;
@tailwind utilities;





body {
width: 100%;
  background: rgb(70, 6, 78);
    background: linear-gradient(0deg, rgba(70, 6, 78, 1) 2%, rgba(85, 13, 94, 1) 13%, rgba(97, 35, 132, 1) 29%, rgba(89, 46, 141, 1) 59%, rgba(80, 47, 147, 1) 78%, rgba(37, 0, 140, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
width: 100%;
  height: 400px;
  background-image: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    bottom right,
    left,
    right;
}

.petit_prince_1{
  position: fixed;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.avion_1{
  animation: fly 5s infinite linear;
}

.etoile_1,
.etoile_2,
.etoile_3 {
  animation: twinkling 2s infinite;
}

.etoile_4,
.etoile_5 {
  animation: twinkling 1.5s infinite;
}

.satelite_1{
  animation: orbit 20s infinite linear;
}

.satelite_2 {
  animation: orbit 25s infinite linear;
}

.satelite_3 {
  animation: spine 15s infinite linear;
}

.etoile_1 {
  position: fixed;
  top: 13%;
  left: 15%;
  z-index: -1;
}

.etoile_2 {
  position: fixed;
  top: 85%;
  left: 65%;
  z-index: -1;
}

.etoile_3 {
  position: fixed;
  top: 80%;
  left: 82%;
  z-index: -1;
}

.etoile_4 {
  position: fixed;
  top: 25%;
  left: 89%;
  z-index: -1;
}

.etoile_5 {
  position: fixed;
  top: 30%;
  left: 5%;
  z-index: -1;
}

.satelite_1 {
  position: fixed;
  top: 50%;
  left: 18%;
  z-index: -1;
}

.satelite_2 {
  position: fixed;
  top: 55%;
  left: 75%;
  z-index: -1;
}

.satelite_3 {
  position: fixed;
  top: 70%;
  left: 50%;
  z-index: -1;
}

.avion_1 {
  position: absolute;
  top: 5%;
  left: 75%;
  z-index: -1;
}

.fume_1 {
  position: absolute;
  top: 13%;
  left: 70%;
  z-index: -1;
}

.fume_2 {
  position: absolute;
  top: 15%;
  left: 65%;
  z-index: -1;
}
.fume_1 {
  animation: fume 1s infinite 0.5s;
}
.fume_2 {
  animation: fume 1s infinite;
}
/* Animation for twinkling */
@keyframes twinkling {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

/* Animation for orbiting */
@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

@keyframes spine {
  0% {
    transform: rotate(0deg) translateX(75px) rotate(0deg);
  }

  100% {
    transform: rotate(-360deg) translateX(75px) rotate(360deg);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0);
    
  }

  50% {
    transform: translateY(-15px);
    
  }

  100% {
    transform: translateY(0);
    
  }
  
}

@keyframes fume {
  0% {
    transform: translateY(0);
    opacity: 1;
    
  }

  50% {
    transform: translateY(-5px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    
  }
  
}